/* You can add global styles to this file, and also import other style files */

button {
  font-family: Arial;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
}

button:hover {
  background-color: #cfd8dc;
}

button:disabled {
  background-color: #eee;
  color: #aaa;
  cursor: auto;
}

.splitContainer {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 70%;
  padding: 10px;
  align-items: center;
  justify-content: center;
}

#droneControl {
  margin: 10px;
}

#droneStream {
  opacity: 0; 
  position: absolute; 
  z-index: -999;
  width: 640px; 
  height: 360px;
}

.fix-size {
  min-width: 640px;
  min-height: 350px;
}

#live-view > canvas {
  position:absolute;
  top:13.5%;
}